<div class="container">
    <div class="row">
        <div class="">
            <h1>本当に退会しますか？</h1>
        </div>
        <div class="">
            <p>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。</p>
            <p>退会する場合は、「退会する」をクリックしてください。</p>
        </div>
        <div class="">
            <%= link_to "退会しない" ,customers_path %>
            <%= link_to "退会する",customers_quit_path , method: :patch, data: { confirm: '本当に退会しますか？' } %>
        </div>
    </div>
</div>
